.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/daacs/*.rda
data-raw/nhis2017/*.pdf
data-raw/nhis2017/*.csv
inst/doc
docs
articles/
man/figures/fruit_medley.jpg
man/figures/fruit_medley.png
vignettes/downsampling_cache/
